<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="delete-category">
            <h1><%= title %>:<%= category.name %></h1>
            <p><%= category.description %></p>
        </div>
    </body>
</html>