<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="item-detail content">
            <div class="item-details">
                <h1><%= item.name %></h1>
                <p><b>Description:</b><%= item.description %></p>
                <div class="quantity-and-price">
                    <p><b>Quantity:</b><%= item.stock %></p>
                    <p><b>Price:</b><%= item.price%></p>
                </div>
                <hr>
                <a href="<%= item.url %>/delete"><button>Delete item</button></a>
                <a href="<%= item.url %>/update"><button>Update item</button></a>
            </div>
            <div class="item-image">
                <% if (item.images) { %>
                    <% if (item.images.length > 0 && item.images[0].medium_url) { %>
                        <img src="<%= item.images[0].medium_url %>" alt="Plant picture" onerr="/images/image.svg">
                    <% } else if (item.images.length > 0) { %>
                        <img src="<%= item.images[0].original_url %>" alt="Plant picture" onerr="/images/image.svg">
                    <% } %>
                <% } else { %>
                    <img src="/images/image.svg" alt="">
                <% } %> 
            </div>
            
        </div>
    </body>
</html>